.project
.pydevproject
.*pyc
.ipynb_checkpoints/
calculator/__pycache__/
context/__pycache__/
instruments/__pycache__/
__pycache__/main.cpython-37.pyc
core/__pycache__/
initializer/__pycache__/
sourceData/__pycache__/
historyKeeper/baseObjects/__pycache__/
historyKeeper/scraperObjects/__pycache__/
